auth0:
  domain:
  issuer:
  audience:
  mgmt-client-id:
  mgmt-client-secret:
  app-client-id:
  app-client-secret:
  connection: Username-Password-Authentication

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${auth0.issuer}
